h1{
    text-align: center;
    padding: 20px 0px;
    color: white;
}

.card-content{
	padding: 40px

}

.text-content{

}

.main-container{
	background-image: url("/weather-1.jpg");
}

.card{
	background-color:  #49DF49 !important;
}

